.ipynb_checkpoints
*.ipynb
*.csv
__pycache__
Logs
Logs_bert
run_logs
run_logs_bert
run_all_logs*
trainer_output
!data/.gitinit
data/

evals/bert_glue/results
evals/bert_mldr
!evals/bert_mldr/run_mldr_eval
evals/gpt_extrapolation/*.pkl
evals/gpt_hellaswag/hellaswag
evals/gpt_hellaswag/reports